{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller- Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style/seller_home.css'%}">
</head>

<body style="background-color: rgb(249,246,238);">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light"
                style="border-radius: 20px; background-color: #ff9776; margin-top: 10px">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'seller:sel_loghome' %}"
                        style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: x-large;">Boom Digital</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- start search -->
                    {% comment %} <div class="search-container">
                        <form action="/search" method="get">
                          <input class="search" id="searchleft" type="search" name="q" placeholder="Search">
                          <label class="button searchbutton" for="searchleft"><span class="mglass">&#9906;</span></label>
                        </form>
                    </div> {% endcomment %}
                      <!-- end search -->
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="font-size: 18px;">
                            <!-- <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li> -->
                            {% block nav_list %}

                            {% comment %} 
                            <li class="nav-item">
                                <a class="nav-link" href="#">Trending</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Become a seller</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                             {% endcomment %}
                            {% endblock %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'seller:login' %}"><i class='fas fa-sign-in-alt'
                                        style='font-size:25px'></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    
    {% block content %}

    {% endblock %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/seller_home.jsx'%}"></script>
</body>

</html>